<style>


</style>

<div class="row">
  <div class="col-12 chalkboard-container">
    <img class="chalkboard" src="{{asset "images/chalkboard-background.png"}}">
    
    <div class="row row-section">
      <div class="col-12">
        <div class="overlay-text">
          text here for footer
        </div>
      </div>
    </div>
    
  </div>
</div>
