<nav class="navbar navbar-expand-md navbar-dark" style="background-color: transparent;">
  <span class="navbar-brand">
    <div class="overlay-text flex-container">
      <img src="/assets/images/logo-light.png" class="flex-align-center" alt="" style="height:5.5vmax;">
      <a href="#home" class="heading-2 flex-align-center">
        {{@blog.title}}
      </a>
    </div>
  </span>
  <button 
    class="navbar-toggler" 
    type="button" 
    data-toggle="collapse" 
    data-target="#navbarText" 
    aria-controls="navbarText" 
    aria-expanded="false" 
    aria-label="Toggle navigation">
    <i class="fas fa-bars hamburger"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    
    <ul class="navbar-nav mr-auto" style="width:100%;">
      
        {{#foreach navigation}}
          <li class="nav-item" style="flex-grow:1;">
          
            <a 
              class="link nav-link" 
              style="color:#ffffff;" 
              href="{{url absolute="true"}}"
              aria-controls="navbarText"
              data-toggle="collapse"
              data-target="#navbarText" 
              role="button">
              {{label}}
              
            </a>
          
          </li>
        {{/foreach}}
      
    </ul>
  </div>
</nav>

